@{
    ViewData["Title"] = "Education";
}
<html lang="en">
<head>
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 20px;
            background-image: url('/img/school.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: auto;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        .split {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .left {
            width: calc(50% - 20px);
            box-sizing: border-box;
            padding: 20px;
        }

        .right {
            width: calc(50% - 20px);
            box-sizing: border-box;
            padding: 20px;
        }

        .clear {
            clear: both;
        }
    </style>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h2 class="text-center">Educational Background</h2>
    <div class="split">
        <div class="left bg-light-transparent">
            <h3>Guinobatan East Central School SY: 2006 – 2008</h3>
            <p>
                Grade: 90+ probably<br>
                Achievements: honor? Sorry don’t remember :D
            </p>
        </div>

        <div class="right bg-light-transparent">
            <h3>University of Baguio Highschool SY: 2017 - 2019</h3>
            <p>
                Grade: 85+ probably<br>
                Achievements: (✦థ ｪ థ)
            </p>
        </div>

        <div class="left bg-light-transparent">
            <h3>Fide Christian Academy SY: 2008 - 2009</h3>
            <p>
                Grade: 90+ probably<br>
                Achievements: Still don’t remember
            </p>
        </div>

        <div class="right bg-light-transparent">
            <h3>University of Baguio Senior Highschool SY: 2019 - 2021</h3>
            <p>
                Grade: 90+ probably<br>
                Achievements: 7th honor in our class? Not sure
            </p>
        </div>

        <div class="left bg-light-transparent">
            <h3>Guinobatan East Central School SY: 2009 – 2015</h3>
            <p>
                Grade: 90+ probably<br>
                Achievements: (づ ՞ਊ ՞ )づ
            </p>
        </div>

        <div class="right bg-light-transparent">
            <h3>Angeles University Foundation SY: 2021 - ?</h3>
            <p>
                Grade: 85+?<br>
                Achievements: ٩꒰ʘʚʘ๑꒱۶
            </p>
        </div>

        <div class="left bg-light-transparent">
            <h3>Bicol Regional Science Highschool SY: 2015 - 2017</h3>
            <p>
                Grade: 85+ probably<br>
                Achievements: ༼ ༎ຶ ᆺ ༎ຶ༽
            </p>
        </div>

    </div>
</body>
</html>